<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" title="Go Home" routerLink="/admin"><i class="fab fa-youtube">TUBEKIDS</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-4 mt-lg-0" style="width: 100%;">
            <li class="nav-item">
              <a class="nav-link" (click)="open(newvideo)">
                Upload a video <i class="fas fa-cloud-upload-alt"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/accounts">
                create Account <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logOut()">Log Out <i class="fas fa-sign-out-alt"></i></a>
            </li>
          </ul>
          <input [(ngModel)]="search" class="form-control mr-sm-6" style="width: 100%" type="search" placeholder="Search Videos" class="fas fa-search"><i class="fas fa-search"></i>
        </div>
      </nav>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<ng-template #newvideo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Upload a Video</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"s>
    <form #f="ngForm" (ngSubmit)="addVideo(f)" ngNativeValidate>
        <div class="row">
          <div class="col-sm-12">
            <label for="namevideo">Name Video</label>
            <input type="text" required name="namevideo" [(ngModel)]="name" id="namevideo" class="form-control" placeholder="Name Video">
          </div>
          <div class="col-sm-4 offset-4">
            <label for="url">YouTube Video</label>
            <input type="checkbox" [(ngModel)]="youtube" style="margin-left: 5px;" name="url" id="url">
          </div>
          <div *ngIf="youtube" class="col-sm-12">
            <label for="namevideo">URL YouTube</label>
            <input type="text" required name="namevideo" [(ngModel)]="url" id="namevideo" class="form-control" placeholder="Video URL">
          </div>
        </div>
        <button class="btn btn-success" style="width: 100%; margin-top: 15px;">Add Video</button>
    </form>
  </div>
</ng-template>


<header style="width: 100%; text-align: center; margin-top: 5px;">
  <div class="title">
    <h3>PlayList General</h3>
  </div>
</header>

<main style="margin: 10px;">
  <div class="row">
    <ng-container *ngFor="let video of videos | filter : search">
        <div class="col-sm-3" *ngIf='video.url == null; else url2'>
            <div class="card" style="width: 100%;">
                <video style="width: 100%;" height="178" controls>
                  <source [src]="'http://127.0.0.1:8887/' + video.video | safeHTML" type="video/mp4">
                </video>
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">{{video.name}}</h5>
                  <div class="botones" style="width: 100%; display: flex; justify-content: space-between;">
                      <button class="btn btn-primary" title="Edit Video" (click)="open(updatevideo);" (click)="onEdit(video.id)"><i class="far fa-edit"></i></button>
                      <button class="btn btn-danger" title="Delete Video" (click)="EliminarVideo(video.name, video.id, video.video)"><i class="far fa-trash-alt"></i></button>
                  </div>
                </div>
            </div>
        </div>
          <ng-template #url2>
              <div class="col-sm-3">
                  <div class="card" style="width: 100%;">
                    <iframe width="100%" height="178" frameborder="0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"xº allowfullscreen [src]="video.url.replace('watch?v=','embed/')| safeurl">
                    </iframe>
                      <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">{{video.name}}</h5>
                        <div class="botones" style="width: 100%; display: flex; justify-content: space-between;">
                            <button class="btn btn-primary" title="Edit Video" (click)="open(updatevideourl);" (click)="onEdit(video.id)"><i class="far fa-edit"></i></button>
                            <button class="btn btn-danger" title="Delete Video" (click)="EliminarURL(video.name, video.id)"><i class="far fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </div>
                </div>
          </ng-template>
    </ng-container>
  
  </div>

  <ng-template #updatevideo let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Edit Video</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="updateVideo(f)" ngNativeValidate>
          <div class="row">
            <div class="col-sm-12">
              <label for="videoname">Name Video</label>
              <input type="text" required name="videoname" [(ngModel)]="regModel.name" id="videoname" class="form-control" placeholder="Name Video">
            </div>
            <div class="col-sm-12">
              <label for="videopublic">Video</label>
              <input type="text" readonly name="videopublic" [(ngModel)]="regModel.video" id="videopublic" class="form-control" placeholder="Name Video">
            </div>
            <div class="col-sm-12" style="text-align: center; margin:auto; margin-top: 5px;">
              <label for="videoupdate">New Video</label><br>
              <input type="file" (change)="onFileSelectedVideo($event)" name="videoupdate" id="videoupdate">
            </div>
          </div>
          <button class="btn btn-success" style="width: 100%; margin-top: 15px;">Modify Video <i class="fas fa-edit"></i></button>
      </form>
    </div>
  </ng-template>

  <ng-template #updatevideourl let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Edit Video</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="updateVideoURL(f)" ngNativeValidate>
          <div class="row">
            <div class="col-sm-12">
              <label for="videourl">Name Video</label>
              <input type="text" required name="videourl" [(ngModel)]="regModel.name" id="videourl" class="form-control" placeholder="Name Video">
            </div>
            <div class="col-sm-12">
              <label for="url">URL Video</label>
              <input type="text" required name="url" [(ngModel)]="regModel.url" id="url" class="form-control" placeholder="URL Video">
            </div>
          </div>
          <button class="btn btn-primary" style="width: 100%; margin-top: 15px;">Modify Video <i class="fas fa-edit"></i></button>
      </form>
    </div>
  </ng-template>
    
</main>


