::root
  --input-padding-x: 1rem;
  --input-padding-y: 1rem;


body
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  

.card-signin
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);


.card-signin .card-title
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;



.card-signin .card-body
  padding: 2rem;


.form-signin
  width: 100%;


.form-signin .btn
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;


.form-label-group
  position: relative;
  margin-bottom: 1rem;


.form-label-group input
  height: 50px;
  border-radius: 2rem;  

.form-label-group>input,
.form-label-group>label

  padding: 10px;


.form-label-group>label
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;


.form-label-group input::-webkit-input-placeholder
  color: transparent;


.form-label-group input:-ms-input-placeholder
  color: transparent;


.form-label-group input::-ms-input-placeholder
  color: transparent;


.form-label-group input::-moz-placeholder
  color: transparent;


.form-label-group input::placeholder
  color: transparent;


.form-label-group input:not(:placeholder-shown)
  padding-top: 10px;
  padding-bottom: 5px;


.form-label-group input:not(:placeholder-shown)~label
  padding-top: 4px;
  padding-bottom: 14px;
  font-size: 12px;
  color: #777;

