<form class="" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fab fa-youtube">TUBEKIDS</i></a>
      <ul class="navbar-nav ml-auto">
      <div class="md-form form-sm m-1 mt-3 mr-3">
      <i class="fa fa-male prefix"></i>
        <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
        </div>
        <div class="md-form form-sm m-1 mt-3 mr-3">
        <i class="fa fa-lock prefix"></i>
        <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
          </div>
          <li class="nav-item mt-3">
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
          <button class="btn btn-lg btn-success btn-block text-uppercase" routerLink="/register" type="submit">Register</button>
        
          </li>
        </ul>
      </div>
    </nav>
</form>
